/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html,body,body div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,figure,footer,header,hgroup,menu,nav,section,time,mark,audio,video {
	border:0;
	outline:0;
	font-size:100%;
	vertical-align:bottom;
	background:transparent;
	margin:0;
	padding:0;
}
.face {
	width: 100%;
	position: relative;
}
.face .coder,.face .designer {
	position: absolute;
	width: 40%;
	top: 4em;
	display: block;
	z-index: 10;
}
.face .designer {
	left: 0;
}
.face .coder {
	right: 0;
	text-align: right;
}

@media only screen and (min-width: 321px) {
	.face .coder,.face .designer {
		top: 7em;
	}
}
@media only screen and (min-width: 600px) {
	.face .coder,.face .designer {
		width: 25%;
		top: 5em;
	}
	.face .coder p,.face .designer p {
		display: block;
	}
}
@media only screen and (min-width: 1024px) {
	.face .coder,.face .designer {
		top: 10em;
	}
}
@media only screen and (min-width: 1140px) {
	.face {
		width:1040px;
		height:600px;
		margin: 0 auto;
		position:relative;
	}
	.face .coder,.face .designer {
		width:520px;
		height:600px;
		top:0;
		position:absolute;
	}
	.face .coder .description,.face .designer .description {
		position:absolute;
		top:160px;
		width:270px;
	}
	.face .coder .arrow,.face .designer .arrow {
		width:85px;
		height:140px;
		background:url(../img/sprite.png) no-repeat;
		display:block;
		position:absolute;
		top:20px;
	}
	.face .coder {
		text-align:left;
		right:0;
	}
	.face .coder .description {
		right:0;
	}
	.face .coder .arrow {
		right:0;
		background-position:0 -751px;
	}
	.face .designer .arrow {
		left:0;
		background-position:0 -892px;
	}
	.face .designer-img,.face .coder-img {
		width:420px;
		height:600px;
		position:absolute;
		top:0;
		background:url(../img/sprite-home.png) 0 0 no-repeat;
		display:block;
		z-index:1;
	}
	.face .designer-img {
		background-position:0 -600px;
		left:100px;
	}
	.face .coder-img {
		background-position:100% 0;
		right:100px;
	}
	.face .designer-bg,.face .coder-bg {
		width:420px;
		height:200px;
		position:absolute;
		bottom:0;
		background:url(../img/sprite-home.png) 0 -1300px no-repeat;
		display:block;
	}
	.face .designer-bg {
		left:100px;
	}
	.face .coder-bg {
		right:100px;
		background-position:100% -1300px;
	}
	.face .face-img {
		display:none;
	}
	.face .designer,.face .designer .description {
		left:0;
	}
}